

<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	is that project to teach 
	<%= link_to "Ruby On Rails", "http://rubyonrails.com" %>
	in one month. this is a sample application.
</p>
